{% include 'cabecera.html' %}

    <h2> Aplicacion Para Academia de Magia</h2>
    <p>Bienvenido a la academia de magia en esta aplicacion podras ver las solicitudes
        de la academia, actualizar los datos y el status de una solicitud
        puedes eliminar una solicitud de la academia y tambien puedes Ver
        una lista de las solicitudes de la academia de magia. 
        En la seccion de arriba encontraras la barra para efectuar alguna de estas tareas
    </p>

{% include 'pie.html' %} 